
data/*/processed/*
data/*/unprocessed/*
data/resultados/**
data/raw/ANUAL/*/*
**/.DS_Store
ingest/calcular_indicadores_test.ipynb
# data/enemdu_persona/**
# data/enemdu_vivienda/**
# data/mf_finanzas/**
# data/V-DEM/**
# data/LATINOBAROMETRO/**