# Ignore the 'data' directory
data/*/processed/*
data/*/unprocessed/**
data/resultados/**
**/.DS_Store
# data/enemdu_persona/**
# data/enemdu_vivienda/**
# data/mf_finanzas/**
# data/V-DEM/**
# data/LATINOBAROMETRO/**